<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <canvas id="qr-code"></canvas>


    <p>
        self id: <span id="self-id"></span><br>
        owner id: <span id="owner-id"></span><br>

    </p>
    <button id="btn">Go</button>

    <button id="btn-move">move</button>


    <div id="game">
        <div id="ball"></div>
    </div>


    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/qr-js/qr.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>

        var serverUrl = <%- JSON.stringify(serverUrl) %>;

    </script>

    <script>
        function cleanURL(url) {
            return(url.replace(/\?.*$/, "").replace(/\/[^\/]*$/, "") + "/");
        }


        $(document).ready(function() {


            var socket = io.connect(serverUrl);
            socket.on('news', function (data) {
                console.log(data);
                $('#self-id').text(data.soId);
                socket.emit('my other event', { my: 'data' });
            });


            var path = window.location.hash;
            var room = '/' + path;
            console.log('room ' + room);

            if(!path) {
                socket.emit('get owner id');
            } else {
                socket.emit('visitor join', {room: room});
            }

            socket.on('owner id', function(data) {
                console.log('owner id');
                console.log('owner id === ', data);

//                var url = 'http://localhost:3000' + data.ownerId;
                var url = serverUrl + data.ownerId;


                qr.canvas({
                    canvas: document.getElementById('qr-code'),
                    value: url
                });

                $('#owner-id').text(data.ownerId);

                console.log(url);
            });

            socket.on('visitor joined', function(data) {
                console.log('room: ' + data.room);
                console.log('clients: ' + data.clients);

            });

            socket.on('msg', function(msg) {

               console.log('msg: ' + msg);
                ball.speed = (window.innerWidth + 80 * 0) / 250;
                setTimeout(go, msg * 1000);
            });


            $('#btn').click(function() {
                socket.emit('go', {room: room});
                go();
            });

            var speed = (window.innerWidth + 80 * 0) / 250;
            console.log('speed, ' + speed);

            var ball = {
                speed: speed,
                x: -80,
                y: 0,
                radius: 40
            };

            function moveBall() {
                if(ball.x > window.innerWidth + ball.radius) {
                    clearInterval(ball.timer);
                    clearInterval(ball.timerLog);

                }

                ball.x += ball.speed;
                ball.y += ball.speed;
            }

            function renderBall() {
                $('#ball').css({
                    "left" : ball.x + ball.speed,
//                    "top"  : ball.y + ball.speed
                });
            }

            function render() {
                console.log('render');
                moveBall();
                renderBall();
            }

            function go() {
                console.log('go');
                ball.timer = setInterval(render, 1000/50);
                var i = 0;
                ball.timerLog = setInterval(function() {
                    console.log('secend used ', ++i);
                }, 1000);
            }


            $('#btn-move').click(function() {
//                go();
                console.log('btn-move');
            });


        });

    </script>
  </body>
</html>
